/* global changes (reset) */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--foreground-color);
}

/* root variables */
:root {
    --darkest-color: #331420;
    --dark-color: #A04668;
    --medium-color: #ce6d8a;
    --foreground-color: #f8f0fc;
    --highlight-color: #8bf22a;
}

/* display container */
.display-container {
    display: flex;
    justify-content: center;
    padding: 4em;
    margin-bottom: 2em;
}

    /* display container children */
    .display-container > div {
        margin-right: 2em;
    }

/* main container */
.main-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(20%, 500px));
    grid-template-rows: repeat(3, minmax(2%, 200px));
    place-content: center;
    margin: 0 1em 0 1em;
}
    /* grid items */
    .main-container > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8rem;
        border: 1px solid var(--darkest-color);
        background-color: var(--medium-color);
        color: var(--foreground-color);
        transition: ease-in 0.2s;
    }

    .main-container > div:hover {
        transform: scale(1.05);
        transition: ease-in 0.2s;
        background-color: var(--darkest-color);
        cursor: pointer;
    }