* {
    margin: 0;
    padding: 0;
}

/* global variables */

:root {
    --accent-color: rgb(51, 171, 235);
    --foreground-color: rgb(219, 231, 235);
    --cardtitle-color: rgb(58, 61, 62);
    --cardbody-color: rgb(144, 151, 153);
}

main.content {
    display: grid;
    grid-template: 1fr 1fr 5fr / 1fr 4fr;
}

/* formatting for search bar */
.searchbar {
    grid-column: 2;
    display: flex;
    align-items: center;

    border: 1px solid red;
}

.searchbar :nth-child(n) {
    width: 50%;
}

/* styling for profile on search bar */
.searchbar div:nth-child(2n) {
    justify-self: flex-end;
}



/* styling for search bar on top */
.searchbar input {
    width: 25em;
    padding: 0.5rem;
    background-color: var(--foreground-color);
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
}

.searchbar i {
    padding-right: 2rem;
    font-size: 15pt;
}

.searchbar :nth-child(2n) img {
    width: 10%;
    border-radius: 50%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid red;
}

/* styling for image wrapper */

.nav .imagewrapper {
    display: flex;
    align-items: center;
}

.imagewrapper img {
    width: 30%;
    padding: 2.5rem;
    border-radius: 50%;
}

/* styling for rest of nav */

/* styling for buttons */

.nav :nth-child(n + 2) button {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 20%;
}

.article {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.articleMain {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
    background-color: var(--foreground-color);
    border: 1px solid red;
}

/* styling for main cards */

.articleMain .card {
    background-color: white;
}

/* styling for main cards title */

.articleMain .card :first-child {
    font-size: 3rem;
    color: var(--cardtitle-color);
}

/* styling for main cards body */

.articleMain .card :nth-child(2n) {
    font-size: 2.5rem;
    color: var(--cardbody-color);
}

.articleSide {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;

    border: 1px solid red;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-rows: 1fr repeat(2, 2fr);
    gap: 3rem;
    background-color: var(--accent-color);
    color: white;
}
