* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    font-size: 40pt;
}

main.content {
    display: grid;
    grid-template: 1fr 1fr 10fr / 1fr 4fr;
}

.searchbar {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;

    border: 1px solid red;
}

.nav {
    display: flex;
    justify-content: space-evenly;

    border: 1px solid red;
}

.article {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.articleMain {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
    place-items: center;

    border: 1px solid red;
}

.articleSide {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;

    border: 1px solid red;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-rows: 1fr repeat(2, 2fr);
    gap: 3rem;
    background-color: rgb(51, 171, 235);
    color: white;
}
