* {
    margin: 0;
    padding: 0;
}

/* global variables */

:root {
    --accent-color: rgb(51, 171, 235);
}

main {
    height: 100vh;
    font-size: 40pt;
}

main.content {
    display: grid;
    grid-template: 1fr 1fr 10fr / 1fr 4fr;
}

/* formatting for search bar */
.searchbar {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid red;
}

/* styling for search bar on top */
.searchbar :first-child input {
    width: 20em;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(219, 231, 235);
    border: none;
    border-radius: 2rem;
    font-size: 3rem;
}

.searchbar :first-child i {
    padding-right: 2rem;
    font-size: 30pt;
}

.searchbar img {
    width: 60%;
    border-radius: 50%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid red;
}

/* styling for image wrapper */

.nav .imagewrapper {
    display: flex;
    align-items: center;
}

.imagewrapper img {
    width: 30%;
    padding: 2.5rem;
    border-radius: 50%;
}

/* styling for rest of nav */

.nav :nth-child(n + 2) button {
    width: 14rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 1rem;
    font-size: 2.2rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 20%;
}

.article {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.articleMain {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
    place-items: center;

    border: 1px solid red;
}

.articleSide {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;

    border: 1px solid red;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-rows: 1fr repeat(2, 2fr);
    gap: 3rem;
    background-color: var(--accent-color);
    color: white;
}
